@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}



#sidebar {
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 4fr;
    background-color: #06b6d4;
}

#sidebar > button {
    border: none;
}

.logos {
    filter: invert(97%) sepia(8%) saturate(771%) hue-rotate(198deg) brightness(119%) contrast(100%);
}
#upperMenu > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}

#lowerMenu > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}

.sidebarLinks > a {
    text-decoration: none;
    color: white;
}

#main {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #ecfeff;
}

#upperHeader {
    display: flex;
}

#lowerHeader {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

#content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #a5f3fc;
}

#projectCards{
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#announcementCards {
    grid-area: 1 / 2 / 2 / 3;
}

#trendingTab {
    grid-area: 2 / 2 / 3 / 3;
}

#logo {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#logo > img {
    position: relative;
    right: 10px;
}

#menu {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#upperMenu {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin-bottom: 40px;
}

#lowerMenu {
    grid-row: 2;
    display: grid;
    grid-template-rows: 48px 48px 48px;
}