@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 0.75fr 4fr;
}

#sidebar {
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    background-color: #06b6d4;
}

#sidebar > button {
    border: none;
}

.logos {
    filter: invert(97%) sepia(8%) saturate(771%) hue-rotate(198deg) brightness(119%) contrast(100%);
}
#upperMenu > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}

#lowerMenu > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}

.sidebarLinks > a {
    text-decoration: none;
    color: white;
}

#main {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 0.8fr 5fr;
    background-color: #a5f3fc;
}

#header {
    display: grid;
    grid-template-rows: 75px 75px;
    background-color: #ecfeff;
}

#upperHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    margin: 0;
}

.profilePic {
    border-radius: 50%;
}

.searchBar {
    flex: 1;
}

#lowerHeader {
    display: flex;
    padding: 12px;
    height: 100px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.lowerHeaderButtons {
    background-color: #5cd2d8;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    color: black;
}

#content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #a5f3fc;
    gap: 25px;
}

#projectCards{
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 350px);
    gap: 12px;
    padding: 8px;
}

#announcementCards {
    grid-area: 1 / 2 / 2 / 3;
}

#trendingTab {
    grid-area: 2 / 2 / 3 / 3;
}

#logo {
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: white;
    font-weight: bolder;
    font-size: 32px;

}

#logo > img {
    position: relative;
    right: 10px;
}

#menu {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#upperMenu {
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(auto-fit,50px);
    margin-bottom: 40px;
}

#lowerMenu {
    grid-row: 2;
    display: grid;
    grid-template-rows: 48px 48px 48px;
}

#announcementCards {
    background-color: rgba(211, 242, 243, 0.75);
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}
.card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    padding: 6px;
  }

  #projectCards p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }

  .card .title {
    font-size: 18px;
    text-align: center;
  }

  #trendingTab {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 450px;
    justify-items: left;
    background-color: rgba(211, 242, 243, 0.75);
    padding: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .trendingProfile {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .trendingProfile > img {
    border-radius: 50%;
  }
